###> docker ###
/docker/data
/docker/logs
/ssl/**/*
/**/*.crt
/**/*.key
/**/*.pem
/.*.env
/docker-compose.prod.yml
###< docker ###

###> symfony ###
/symfony/supervisord.pid
/symfony/phpstan-results.txt
###< symfony ###

###> symfony/asset-mapper ###
symfony/assets/vendor
symfony/public/assets
symfony/public/images
symfony/public/media
###< symfony/asset-mapper ###

###> vscode ###
.vscode/
###< vscode ###

# ignore database dumps
/*.sql

.DS_Store
!*.gitkeep
